/*Nav styles*/

* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    height: 64px;
    background: #FD6E0A;
    border-radius: 5px;
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
    padding: 18px 35px;
    border: none;
}

.header {
    background: #FFF8F3;
    background-image: url("../images/header_bg.png"), url("../images/developer.png");
    background-repeat: no-repeat;
    background-position: bottom right, left;
    margin-left: 30px;
}

/*header and navigation styles*/
nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 230px 50px 226px;
}

nav li a {
    text-decoration: none;
}

nav li {
    list-style: none;
    padding-left: 50px;
}

nav ul {
    display: flex;
    align-items: center;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

/* banner styles    */
.banner {
    margin: 0 230px 0 226px;
    display: flex;
    align-items: center;
}

.banner-subtitle {
    font-weight: 600;
    font-size: 45px;
    color: #474747;
}

.banner-title {
    font-weight: 700;
    font-size: 85px;
    color: #181818;
    margin-bottom: 20px;
}

.banner-description {
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
}

/* main styles  */

main {
    max-width: 1140px;
    margin: 0 auto;
}

/* About me styles */

.about {
    margin-top: 130px;
    text-align: center;
    background: #FFF8F3;
    border-radius: 10px;
    padding: 130px 157px 130px 156px;
    margin-left: 30px;
}

.section-title {
    font-weight: 700;
    font-size: 35px;
    color: #181818;
    text-align: center;
    padding: 30px 0;
}

.section-description {
    color: #757575;
    text-align: center;
    font-size: 18px;
}

/* about info container styles */

.about-info-container {
    display: flex;
    padding-top: 30px;
    justify-content: space-around;

}

.about-info {
    text-align: center;
}

.info-title {
    font-weight: 400;
    font-size: 20px;
    color: #757575;
}

.info-description {
    text-align: center;
}

/* What I Do section styles */

.what-i-do {
    margin-top: 130px;
    margin-left: 30px;
}

.skills-container {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.skills img {
    padding: 30px 193px 97px 30px;
}

.skills {
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    gap: 24px;

}

.skills-title {
    font-size: 20px;
    color: #181818;
    text-align: center;
    padding-bottom: 20px;
}

.skills-description {
    color: #757575;
}

/* Resume styles */
hr {
    border: 1px solid #D1D1D1;
}

.resume {
    margin-top: 130px;
    margin-left: 30px;
}

.resume-content {
    display: flex;
    gap: 24px;
    margin-top:113px;
}

.resume-item {
    margin-top: 30px;
    margin-bottom: 30px;
}

.resume .title {
    color: #474747;
    font-weight: 700;
    font-size: 25px;
    padding-bottom: 10px;
}

.resume .sub-title {
    color: #757575;
    font-weight: 600;
    font-size: 20px;
    padding-bottom: 20px;

}

.resume .description {
    color: #757575;
}

.resume-button {
    margin-top: 50;
    text-align: center;
}